* {
    margin: 0px;
    padding: 0px;
}

.wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100vh;

}

.header {
    display: flex;
    width: 100%;
    height: 20vh;
    justify-content: center;
    align-items: center;
    
}
.active{
    text-decoration: underline;
    color: red;
}

#pic {
    width: 100px;
    height: auto;
}


.logo-left {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #f1f1f1;
}
#pic:hover{
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
}
/*
.header-right a {
    padding-right: 20px;
    text-decoration: none;
    font-size: 24px;
    color: black;
    font-weight: 600;
}
*/
body{
    background-color: #f1f1f1;
}
.side {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 79vh;
    width: 150px;
    background-color: #f1f1f1
}
.logo{
    margin:80px 0px;
    background-color: #f1f1f1;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    color: black;
    font-weight: 700;
}
.side .link{
    font-weight: 700;
    color: black;
    display: block;
    padding: 12;
    text-decoration: none;
    text-align: center;
    margin: 10px;
}

.side .link:hover{
    color: red;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

.video_content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 4;
    position: relative;
    overflow: hidden;
    font-size: 30px;
}
h4 span{
    font-size: 70px;
    color: white;
}
.video_content2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#player2{
    object-fit: contain;
    height: 50%;
    width: 30%;
}

#player {

    flex-shrink: 0;
    z-index: -2;
    position: absolute;
}
.content {
    background-color: white;
    padding: 10px;
  }
  .row{
      display: flex;
      flex-direction: row;
      margin: 5%;
      overflow: auto;
      background-color: #f1f1f1;
  }

  .content img{
    max-width: 100%;
    max-height: auto;
  }

.degree {
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 20px;
    background-color: blue;
    flex: 16.6%;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
nav{
    background: #f1f1f1;
    width: 80%;
    float: right;
    padding: 10px;
}
.cyberUl{
    padding: 0px;
    text-align: center;

}
.secondUl{
    text-align: center;
    margin: 0px;
}
.secondUl ul{
    text-align: center;
    margin: '';
}
.creationUl{
    text-align: center;
   margin: 0px;
}
.scroll_admission{
    height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

nav ul{
    margin-right: 75px;
    float: right;
    list-style: none;
    position: relative;
}
nav ul li{
    float: left;
    background: #f1f1f1;
    
}
nav ul li a{
    color: black;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 10px;
    font-weight: 500;
}
.firstUl li a:hover{
    background-color: black;
    color: white;
}

.secondUl li a{
    color: black;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;  
}
nav ul li a:hover{
    box-shadow: 0 0 5px #555;
}
nav ul ul li a:hover{
    color: #f1f1f1;
    box-shadow: none;
    background-color: black;
}
nav ul ul{
    position: absolute; 
    top: 70px;
    opacity: 0;
    visibility: hidden;
    transition: top .5s;
}

nav ul li:hover > ul{
    opacity: 1;
    visibility: visible;
}
.secondUl ul, .secondUl ul li{
    width: 270px;
    text-align: center;
}
.secondUl, .secondUl li{
    text-align: center;
    width: 270px;
}

nav ul ul li{
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba((0), 0, 0, 0.4);
}
nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 270px;
}
nav .logo{
    float: left;
    color: black;
    font-size: 27px;
    font-weight: 600;
    line-height: 70px;
    padding-left: 60px;
    display: none;
}
.fa-caret-down{
    margin-left: 10px;
    font-size: 15px;
}
.firstUl{
    position: relative;
    z-index: 999;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  .show, input, .icon{
      display: none;
  }