@media(max-width:1405px){
    .firstUl{
        float: left;
        margin-left: 0px;
    }
 
 
    .secondUl{
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }
    .secondUl li{
        border-bottom: 0px;
        margin: 0px;
    }

    .secondUl a{
        text-align: center;
        margin: 0px;
    }

    .show{
        display: block;
        font-size: 18px;
        line-height: 30px;
        cursor: pointer;
    }
    .show:hover{
        color: red;
    }
    .firstUl a:hover{
        box-shadow: none;
    }
    .icon{
        display:block;
        color: black;
        position: absolute;
        right: 40px;
    }
    .icon:hover{
        color: red;
    }
    .show + a, ul{
        display: none;
    }
    [id^=btn]:checked + ul{
        display: block;
        transition: max-height 1s;
		max-height: 700px;
        opacity: 1.0;
    }
        
    
    .wrap{
        flex-direction: column;
    }
    .nav{
        flex: none;
    }
    .logo-left{
        flex: none;
    }
    .side{
        display: none;
    }
    .header{
        flex-direction: column;
        justify-content: normal;
        align-items: normal;
    }
    nav{
        position: relative;
        z-index: 999;
        width: 100%;
        height: inherit;
        
    }
    .firstUl{
    
        border: solid black;
        width: 100%;
    }
    .secondUl ul li a{
        font-size: 15px;
    }
    .secondUl ul li{
        position: static;
        display: list-item;
        border-bottom: 1px solid rgba((0), 0, 0, 0.4);
        margin: 0px;
    }
    .secondUl ul{
        border: solid black;
    }

    .secondUl ul li{
        border: solid black;
        width: fit-content;
    }
    .secondUl ul, .secondUl ul li{
        width: 170;
        height: 50px;
    }  
 
    .firstUl li, .secondUl li, .secondUl ul li{
        display: block;
        width: 100%;
    }

    .secondUl ul li a{
        text-align:center ;
        border: black solid;
    }
    .firstUl li{
        border: solid black;
    }
    .video-content2{
        display: none;
    }
    
    .secondUl ul{
        position: absolute;
        top: 35px;
        left: 0px;
        z-index: 1000;
    }
    /*
    .secondUl li{
        top: 0px;
        left: 100px;
    }*/
    .secondUl div{
        height: 150px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
    }
    .icon{
        position: absolute;
        top: -70px;
        font-size: 40px;
    }
    .footer{
        flex-direction: column;
        height: auto;
    }
    .footer-links{
        display: flex;
        flex: none;
        width: 100%;
    }
    .footer-socials{
        flex: none;
        width: 100%;
    }
    .content ul{
        text-decoration:none;
        display: block;
    }
    
}
@media(max-width:380px){
  
    .video-content2{
        display: none;
    }
    .video-content{
        height: 60vh;
    }
    h4 span{
        font-size: 30px;
    }
    .content{
        width: 50%;
        height: 50vh;
        text-align: center;
    }
    .content ul  li{
        color: black;
    }

    .degree{
        background-color: #f1f1f1;
    }
    .row{
        width: 100%;
        border-top: solid black;
        border-bottom: solid black;
        border-bottom-style: groove;
    }
    .main-hoveddel{
        height: 70vh;
    }
    .icon{
        font-size: 30px;
        top: -60px;
    }

    ::-webkit-scrollbar {
    width: 20px;
  }

  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px #b9b5b5; 
    border-radius: 15px;
  }
   
  ::-webkit-scrollbar-thumb {
    background: rgb(247, 49, 49); 
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #5c0202; 
  }
}